 <% include ../header %>

       <div class="row">
    <div class="large-6 columns">
      <div class="signup-panel">
                     <header>
			    	  <h1>Cadastro</h1>				      
			       </header>
        <form action="/salvar" method="post">
          <div class="row collapse">
            <div class="small-2  columns">
              <span class="prefix"><i class="fi-torso-female"></i></span>
            </div>
            <div class="small-10  columns">
                <input type="text" name="usuario[nome]" placeholder="Seu nome">
            </div>
          </div>
          <div class="row collapse">
            <div class="small-2 columns">
              <span class="prefix"><i class="fi-mail"></i></span>
            </div>
            <div class="small-10  columns">
             <input type="text" name="usuario[email]" placeholder="Seu e-mail">
            </div>
          </div>
          <div class="row collapse">
            <div class="small-2 columns">
              <span class="prefix"><i class="fi-mail"></i></span>
            </div>
            <div class="small-10  columns">
             <input type="password" name="usuario[senha]" placeholder="Sua senha">
            </div>
          </div>
          <button type="submit">Salvar</button>
        </form>
        
          
      </div>
    </div>
   </div>        	

 <% include ../footer %></div>
   

