 <% include ../header %>
		

		
 <!--<div class="row">
    <div class="large-6 columns">
      <div class="signup-panel">
                     <header>
			    	  <h1>Ntalks</h1>
				      <h4>Bem-vindo!</h4>
			       </header>
        <form action="/entrar" method="post">
          <div class="row collapse">
            <div class="small-2  columns">
              <span class="prefix"><i class="fi-torso-female"></i></span>
            </div>
            <div class="small-10  columns">
                <input type="text" name="usuario[nome]" placeholder="Seu nome">
            </div>
          </div>
          <div class="row collapse">
            <div class="small-2 columns">
              <span class="prefix"><i class="fi-mail"></i></span>
            </div>
            <div class="small-10  columns">
             <input type="text" name="usuario[email]" placeholder="Seu e-mail">
            </div>
          </div>
          <div class="row collapse">
            <div class="small-2 columns">
              <span class="prefix"><i class="fi-mail"></i></span>
            </div>
            <div class="small-10  columns">
             <input type="password" name="usuario[senha]" placeholder="Sua senha">
            </div>
          </div>
          <button type="submit">Entrar</button>
        </form>
        
          
      </div>
    </div>
   </div>     -->
 

<div class="container">
  <form class="form-signin" action="/entrar" method="post">       
      <h1 class="form-signin-heading">Zuera Mile Grau's</h1>
      <input type="text" class="form-control" name="usuario[nome]" placeholder="user" required="" autofocus="" />
      <input type="password" class="form-control" name="usuario[senha]" placeholder="Password" required=""/>   
      
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>   
    </form>
  <p class="text-center sign-up"><strong>Sign up</strong> criar uma contao na zuera</p>
</div> 

<% include ../footer %></div>
